################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/bin

**/obj

**/.vs
**/.idea
**/node_modules

GrasshopperPersistentDataSizeCalculator.sln.DotSettings.user

.DS_Store

*.exe
*.sln.DotSettings*

*.gh
