################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/bin

**/obj

**/.vs
**/.idea
GrasshopperPersistentDataSizeCalculator.sln.DotSettings.user
